body: {
    width: 100%;
}

.chordchart {
    width: 60rem;
    margin: auto;
    font-size: 24px;
    font-family: sans;
}

.chordchart table {
    width: 100%;
    border-collapse: collapse;
}
.chordchart td {
    padding: 0 0 .2rem 0;
}

.chordchart .header {
}

.chordchart .title {
    text-align: center;
    font-size: x-large;
}

.chordchart .composer {
    text-align: right;
    font-size: large;
}

.chordchart .barline {
    text-align: center;
}
.chordchart .barline svg {
    vertical-align: middle;
    width: 24px;
}

.chordchart :nth-child(2).barline {
    text-align: left;
    text-align: center;
}

.chordchart .chord {
    padding: 0 .5rem;
}

.chordchart .chord-continuation {
    font-size: xx-large;
    padding: 0 .5rem;
}

.label {
    vertical-align: top;
    text-align: right;
    padding: 0;
}
.label span {
    font-size: large;
    font-weight: bold;
}
.mark {
    text-align: center;
}
:first-child.mark {
    text-align: center;
}
.segno {
    font-size: xx-large;
}
.alternative {
    font-size: medium;
    text-align: right;
}
.alternative > * {
    padding: .3rem;
}

@page {
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
}

@media print {
    .chordchart {
        width: 100%;
    }
    .head {
        position: relative;
    }
    .title {
        float: left;
    }
    .composer {
        float: right;
    }
}

